<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310316086735-44nr8t6ci2kn6go4dpa40gd1uj2snji2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310316086735-44nr8t6ci2kn6go4dpa40gd1uj2snji2</string>
	<key>API_KEY</key>
	<string>AIzaSyAuigF5ng1cHiihCNyf_DedDQTLZYYjG3E</string>
	<key>GCM_SENDER_ID</key>
	<string>310316086735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pangpangbot</string>
	<key>PROJECT_ID</key>
	<string>pangpangbot-3e49a</string>
	<key>STORAGE_BUCKET</key>
	<string>pangpangbot-3e49a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310316086735:ios:bfcd682a941efa16318eba</string>
</dict>
</plist>